<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class='woops'>
        <%= error.msg %>
        </div>
    <% }); %>
<% } %>

<% if(success_msg != '') { %>
    <div class='sweet'>
    <%= success_msg %>
    </div>
    <% } %>

<% if(error_msg != '') { %>
    <div class='woops'>
    <%= error_msg %>    
    </div>
<% } %>

<% if(error != '') { %>
    <div class='woops'>
    <%= error %>
    </div>  
    <% } %>