<div id="mario-chat">
    <h2>Mr. Coolisimo's Chat App</h2>
    <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
    </div>
    <input id="handle" type="text" placeholder="Handle" />
    <input id="message" type="text" placeholder="Message" />
    <button id="send">Send</button>
</div>
<!--Our Chat App-->
<script src="chat.js"></script>