<body>
    <div class='container2'>
        <div class='highlight'>
            <div class='plate'>
                <div></div>
                <div class='blurred'>
                    <div class='item1'>
                        <h1>Welcome</h1>
                        <br>
                        <p>I developed this website to showcase my many projects and interests, such as web-building.</p>
                        <br>
                        <p>No Bootstrap. No templates. No copypastas.</p>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</body>
