<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='../css/style.css'>
    <title>Node.js and Passport app</title>
</head>
<body>
    <header>
        <nav>
            <div class='container1'>
                <a class='username' href='/homepage'><span class='yellow'>Mr</span><span class='blue'>Coolisimo</span></a>
            </div>
            <div>
                <ul class='nav-links'>
                    <li><a href='/users/register'>Register</a></li>
                    <li><a href='/users/login'>Login</a></li>
                    <li><a href='/logout?_method=DELETE' method=POST>Log Out</form></li>
                </ul>
            </div>
            <div>
                <a href='#'><button class='contact'>Contact</button></a>
            </div>
        </nav>
    </header>

    <%- body %>
    
</body>
</html>