/*GENERAL*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    
    font-weight:500;
}

body {
    font-family: "Montserrat", sans-serif, 'MrRobot';
}
 
a {
    text-decoration:none;
    color:white;
}

ul {
    list-style:none;
}

@media (min-width: 1000px) {
    nav{
        display:flex;
        justify-content:space-between;
        padding:10px 30px;
    }
}

@media (max-width: 1000px) {
    .container1 {
        text-align: center;
    }
    .nav-links li{
        width:30%;
        font-size:20px;
        justify-content:center;
    }
    .contact {
        display: block;
        width: 100%;
        border: none;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        border-radius:0;
        margin-top:10px;
    }
    .item1 {
        padding:30px 10px !important;
    }
    .flex-double{
        flex-direction: column;
    }
    .item1-chat{
        padding:30px 10px !important;
    }
}

/*STYLE*/

.bold {
    font-style: bold;
}

/*NAVBAR*/

nav {
    
    background:black;
    color:white;
    /*!!!!*/
    align-items:center;
}

/**TITLE**/

.username {
    font-size:40px;
}

.username .yellow{
    transition: all 0.3s ease;
    font-family: 'MrRobot';
}

.username .blue{
    transition: all 0.3s ease;
    font-family: 'MrRobot';
}

.username:hover .yellow {
    color:rgb(187, 255, 0);
}

.username:hover .blue {
    color:rgba(0,136,169,1);
}

/**LINKS**/

.nav-links {
    display:flex;
    padding:0px 100px;
    justify-content: center;
}

.nav-links li {
    display:flex;
    margin: auto 20px;
}

.nav-links li a {
    transition:all 0.3s ease;
}

.nav-links li a:hover {
    color:rgb(187, 255, 0);
}

/*REGISTER*/

.nav-side {
    display:flex;
}
.nav-side li {
    justify-content: stretch;
    margin-right:30px;
}

/**BUTTON**/

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    color:white;
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(187, 255, 0,0.8);
    color:#1b1b1b;
}

/*HOMEBODY*/

.container2 {
    background: url('/css/img/accordion.jpg') no-repeat center center/cover;
    height:100vh;
}
.container3 {
    background: url('/css/img/ttyd.jpg') no-repeat center center/cover;
    height:100vh;
}
 .highlight {
    background-color: rgba(255, 255, 255, 0.459);
    height:100vh;
 }
 .highlight-dark {
    background-color: rgba(71, 71, 71, 0.459);
    height:100vh;
 }
.plate {
    display: flex;
    width:50%;
    height:100%;
    margin:auto;
    text-align: center;
    vertical-align: middle;
    flex-direction:column;
    justify-content: space-between;
}
.plate-chat {
    display: flex;
    width:90%;
    height:100%;
    margin:auto;
    vertical-align: middle;
    flex-direction:column;
    justify-content: space-between;
    overflow:auto;
}
.blurred {
    backdrop-filter: blur(4px);
    
}
.blurred-chat {
    backdrop-filter: blur(4px);
    
}
.item1 {
    background-color: rgba(255, 255, 255, 0.671);
    padding: 30px;
    border-radius: 10px;
}
.item1-chat {
    background-color: rgba(208, 236, 243, 0.671);
    padding: 50px;
    border-radius: 10px;
}
.item1-chat h2 {
    text-align: center;
}

.mrcool-chat {
    padding: 30px;
    border-radius: 10px;
    overflow:hidden;
    overflow-y: auto;
    word-wrap: break-word;
    
}
#chat-window {
    font-family:'Roboto';
    font-size:20px;
    height: 400px;
    overflow: auto;
}
#chat-window p{
    padding:2px;
}
#output {
    border: rgba(15, 100, 121, 0.671);;
    padding:8px;
    word-wrap: break-word;
}
#message{
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}
#send{
    width:100%;
}
.handle{
    color:black;
}
.message-input{
    color:rgb(4, 57, 155);
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
/*REGISTER*/

.dark-bg{
    background:rgb(90, 4, 230);
    height:100vh;
}

.form-title {
    margin:10px 0;
}

.flex-double {
    display: flex;
    justify-content: space-between;
    margin:10px auto;
}
.woops {
    background-color: rgb(255, 74, 74);
    color: white;
    margin: 10px 0;
    padding: 5px 0;
}

.sweet {
    background-color: rgb(19, 212, 13);
    color: white;
    margin: 10px 0;
    padding: 5px 0;
}

.btn-alt {
    margin:10px 0;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    color:white;
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
    width:100%;
}

.a-alt {
    transition: all 0.3s ease;
    color:rgba(0,136,169,1);
}
.a-alt:hover {
    color:rgb(187, 255, 0);
}

/*FONT*/

@font-face {
    font-family: "MrRobot";
    src: url("fonts/MR ROBOT.ttf");
}

